@import "tailwindcss";

html, body{
    overflow-x: hidden;
}

/* Navigation buttons */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
    color: black !important;
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.75);
}

/* in globals.css or any CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.productSwiper .swiper-pagination-bullet {
  background: black !important;
  opacity: 0.5;
}

.productSwiper .swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1;
}
